.module-carousel img {
  border: none;
  padding: 0;
}
.module-carousel .slider_container {
  position: relative;
}
.module-carousel .slides {
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.module-carousel .slider-caption {
  position: absolute;
  top: 250px;
  left: 10px;
  width: 350px;
  height: 50px;
  overflow: hidden;
}
.module-carousel .jssora08l,
.module-carousel .jssora08r {
  background: rgba(0, 0, 0, 0) url("../../framework/Modules/Carousel/assets/img/a08.png") no-repeat scroll 0 0;
  cursor: pointer;
  display: block;
  height: 50px;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  width: 50px;
}
.module-carousel .jssora08l {
  position: absolute;
  top: 0;
  background-position: -5px -35px;
}
.module-carousel .jssora08l:hover {
  background-position: -5px -35px;
  opacity: 0.8;
}
.module-carousel .jssora08l .jssora08ldn {
  background-position: -5px -35px;
  opacity: 0.3;
}
.module-carousel .jssora08r {
  position: absolute;
  bottom: 0;
  background-position: -65px -35px;
}
.module-carousel .jssora08r:hover {
  background-position: -65px -35px;
  opacity: 0.8;
}
.module-carousel .jssora08r .jssora08rdn {
  background-position: -65px -35px;
  opacity: 0.3;
}
.module-carousel .jssora02l,
.module-carousel .jssora02r {
  background: rgba(0, 0, 0, 0) url("../../framework/Modules/Carousel/assets/img/a02.png") no-repeat scroll 0 0;
  cursor: pointer;
  display: block;
  height: 55px;
  overflow: hidden;
  position: absolute;
  width: 55px;
}
.module-carousel .jssora02l {
  left: 8px;
  background-position: -3px -33px;
}
.module-carousel .jssora02l:hover {
  background-position: -123px -33px;
}
.module-carousel .jssora02l .jssora02ldn {
  background-position: -3px -33px;
}
.module-carousel .jssora02r {
  right: 8px;
  background-position: -63px -33px;
}
.module-carousel .jssora02r:hover {
  background-position: -183px -33px;
}
.module-carousel .jssora02r .jssora02rdn {
  background-position: -63px -33px;
}
.module-carousel .jssorb01 {
  position: absolute;
  bottom: 8px;
}
.module-carousel .jssorb01 div,
.module-carousel .jssorb01 div:hover,
.module-carousel .jssorb01 .av {
  position: absolute;
  /* size of bullet elment */
  width: 10px;
  height: 10px;
  filter: alpha(opacity=70);
  opacity: .7;
  overflow: hidden;
  cursor: pointer;
  border: #000 1px solid;
}
.module-carousel .jssorb01 div {
  background-color: gray;
}
.module-carousel .jssorb01 div:hover,
.module-carousel .jssorb01 .av:hover {
  background-color: #d3d3d3;
}
.module-carousel .jssorb01 .av {
  background-color: #fff;
}
.module-carousel .jssorb01 .dn,
.module-carousel .jssorb01 .dn:hover {
  background-color: #555555;
}
.module-carousel .jssorb01.vertical {
  left: 8px;
}
.module-carousel .captionBlack {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 90%;
  bottom: 35px;
  padding: 5px;
  font-size: 16px;
  background: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

form .error-block label {
	color: #cc0000;
}

form .form-group label.control-label.required:after {
    content:" *";
    color:red;
}

.module-form[data-module-class="form"] .loading[type="submit"]:before {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #0071FF #B7C8CE #B7C8CE;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 100%;
    margin-right: 5px;
    -webkit-animation: loading-and-rotating infinite 0.7s linear;
            animation: loading-and-rotating infinite 0.7s linear;
}

@-webkit-keyframes loading-and-rotating {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-and-rotating {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.module-game .leaderboard {
  max-width: 924px;
  margin: 0 auto;
}
.module-game .score .avatar {
  width: 50px;
  height: 50px;
}
.module-game .score .name {
  vertical-align: top;
  font-weight: 500;
}

.module-memoryCard .game-container {
  margin: 0 auto;
}
.module-memoryCard .gameboard ul {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  padding: 20px 0 0 20px;
  background: #666;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 2px;
  overflow: auto;
}
.module-memoryCard .card {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 20px 20px 0;
  float: left;
  display: inline;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  perspective: 500px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.module-memoryCard .card * {
  pointer-events: none;
}
.module-memoryCard .card span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 80px;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: #000 0 1px 2px;
  -webkit-box-shadow: #000000 0 1px 2px;
  -moz-box-shadow: #000000 0 1px 2px;
  box-shadow: #000000 0 1px 2px;
  background: #ffffff url(../../framework/Modules/MemoryCard/assets/img/default/logo-bw.png) no-repeat 50% 50%;
  -moz-background-size: 100% ;
  -webkit-background-size: 100% ;
  -o-background-size: 100% ;
  background-size: 100% ;
  z-index: 900;
}
.module-memoryCard .card span.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 800;
}
.module-memoryCard .card-found {
  visibility: hidden;
}
.module-memoryCard .card-loading span:first-child {
  position: relative;
  overflow: hidden;
}
.module-memoryCard .card-loading span:first-child:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background: #ffffff url(../../framework/Modules/MemoryCard/assets/img/default/loading.png) no-repeat 50% 50%;
  -webkit-animation: rotating-function 5s linear infinite;
  -moz-animation: rotating-function 5s linear infinite;
  -ms-animation: rotating-function 5s linear infinite;
  -o-animation: rotating-function 5s linear infinite;
  animation: rotating-function 5s linear infinite;
}
@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotating-function {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(90deg);
  }
}
@-ms-keyframes rotating-function {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(90deg);
  }
}
@-o-keyframes rotating-function {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(90deg);
  }
}
@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.module-memoryCard .card-selected span {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  height: 98px;
  width: 98px;
  top: -9px;
  left: -9px;
  -moz-background-size: 100% ;
  -webkit-background-size: 100% ;
  -o-background-size: 100% ;
  background-size: 100% ;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: #333333 0 2px 4px;
  -moz-box-shadow: #333333 0 2px 4px;
  box-shadow: #333333 0 2px 4px;
}
.module-memoryCard .card-selected span.back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  z-index: 1000;
}
.module-memoryCard .gameboard-alt1 ul {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.module-memoryCard .gameboard-alt1 ul .card {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.module-memoryCard .gameboard-alt2 ul {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.module-memoryCard .gameboard-alt2 ul .card {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.module-question .debug .outcomes {
  max-width: 624px;
  margin: 0 auto;
}
.module-question .debug .answer-text label span {
  margin-left: 25px;
}
.module-question .debug .outcome-based .answer {
  position: relative;
  clear: both;
  min-height: 24px;
}
.module-question .debug .outcome-based .answer-text label {
  overflow: hidden;
}
.module-question .debug .outcome-based .answer-text label span {
  position: absolute;
  left: 80px;
  margin-left: 0;
}
.module-question .debug .outcome-based .answer-image .answer-outcomes {
  width: auto;
  margin-right: 0;
  float: none;
  margin-bottom: 5px;
}
.module-question .debug .outcome-based .answer-outcomes {
  width: 70px;
  min-height: 10px;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  margin-right: 10px;
  border: 1px #52c291 solid;
}
.module-question .debug .outcome-based .answer-outcomes .answer-outcome {
  padding: 3px;
  background-color: #9BE8C7;
  font-weight: normal;
  font-size: 11px;
  display: block;
}
.module-question .debug .correct .list-item-icon {
  color: #fff;
}
.module-question .debug .correct .list-item-icon:before {
  border-right: 48px solid transparent;
  border-top: 48px solid #52c291;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}
.module-question .debug .correct .list-item-icon .icon {
  position: absolute;
  top: 6px;
  left: 6px;
  margin: 0;
}
.module-question .debug .correct .list-item-icon .icon-ss-check {
  top: 8px;
  left: 12px;
}
.module-question .debug .correct .list-item-icon .icon-ss-check:before {
  content: '✓';
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}
.module-question .debug .correct.answer-text {
  background-color: #9BE8C7;
  border: 3px #52c291 solid;
}
.module-question .debug .correct.answer-text .list-item-icon:before {
  border: 0;
}
.module-question .debug .correct.answer-text .list-item-icon .icon-ss-check {
  top: 2px;
  left: 5px;
}
.module-question .debug .correct img {
  border: 3px #52c291 solid;
}
.module-question img {
  width: 100%;
}
.module-question input[type=radio],
.module-question input[type=checkbox] {
  display: none;
}
.module-question label {
  display: block;
  cursor: pointer;
  border: 2px transparent solid;
}
.module-question :checked + label {
  background-color: #9BE8C7;
  border: 3px #52c291 solid;
}
.module-question .results {
  max-width: 624px;
  margin: 0 auto;
}
.module-question .question,
.module-question .controls {
  max-width: 624px;
  margin: 0 auto;
}
.module-question .question .count {
  display: block;
  font-weight: bold;
}
.module-question .controls {
  text-align: right;
}
.module-question .answers {
  max-width: 624px;
  margin: 0 auto;
  padding: 0;
}
.module-question .answers.flex {
  max-width: 924px;
}
.module-question .answers .answer {
  list-style: none;
}
.module-question .answers .answer label {
  position: relative;
}
.module-question .answers span {
  font-weight: normal;
}
.module-question .flex {
  padding: 0;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.module-question .flex-item {
  width: 24%;
  padding: 12px;
  display: block;
}
.module-question .flex-item:first-of-type:nth-last-of-type(2),
.module-question .flex-item:first-of-type:nth-last-of-type(3),
.module-question .flex-item:first-of-type:nth-last-of-type(2) ~ .flex-item,
.module-question .flex-item:first-of-type:nth-last-of-type(3) ~ .flex-item {
  width: 33%;
}
.module-question .flex-item:first-of-type:nth-last-of-type(4),
.module-question .flex-item:first-of-type:nth-last-of-type(4) ~ .flex-item {
  width: 24%;
}
.module-question .flex-item:first-of-type:nth-last-of-type(5),
.module-question .flex-item:first-of-type:nth-last-of-type(5) ~ .flex-item,
.module-question .flex-item:first-of-type:nth-last-of-type(6),
.module-question .flex-item:first-of-type:nth-last-of-type(6) ~ .flex-item {
  width: 33%;
}
@media (max-width: 700px) {
  .module-question .flex-item {
    width: 33.333%!important;
    padding: 12px;
  }
}
@media (max-width: 640px) {
  .module-question .flex-item {
    width: 50%!important;
    padding: 6px;
  }
  .module-question .flex-item:nth-child(odd) {
    padding-left: 0;
  }
  .module-question .flex-item:nth-child(even) {
    padding-right: 0;
  }
}
.module-question .question-progress {
  color: #C1C1D4;
}
.module-question .image-caption {
  width: 100%;
  padding: 0px;
  position: relative;
}
.module-question .image-caption div.caption {
  background-color: #000;
  bottom: 0;
  color: #fff;
  right: 0;
  opacity: 0.5;
  position: absolute;
  padding: 0 5px;
}

.module-question .image-caption div.caption p {
  margin: 2px;
}
.module-todo iframe {
  border: 0;
  width: 100%;
}
.module-todo ul.todo-lists li {
  list-style-type: none;
}
.module-todo .todo-list ul li {
  list-style-type: none;
}

.module-todo .hidden {
  visibility: hidden;
}
