{% if lang == 'cn' %}
<h3>条款及声明</h3>
<ol>
    <li>活动时间：2016.10.1—2016.10.31</li>
    <li>活动规则：请在通关游戏后填写问卷，领取Jameson微信优惠券！奖品不可转让及抵扣现金</li>
    <li>本活动最终解释权由Jameson所有</li>
</ol>
{% endif %}
{% if lang == 'en' %}
<h3>Terms & Conditions</h3>
<ol>
    <li>Event Date: 2016.10.1—2016.10.31</li>
    <li>Game Rules: If you manage to complete the Gruesome Twosome challenge, please input your details in order to claim your e-coupon from our WeStore. Prizes are non-transferrable and non-exchangeable for cash.</li>
    <li>Jameson reserves the rights to alter any game rules and regulations at any time.</li>
</ol>
{% endif %}
