
@font-face {
  font-family: 'AvenirLT-Black';
  src: url('AvenirLT-Black.eot?#iefix') format('embedded-opentype'),  url('AvenirLT-Black.woff') format('woff'), url('AvenirLT-Black.ttf')  format('truetype'), url('AvenirLT-Black.svg#AvenirLT-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
